<footer class="flex flex-col justify-center items-center h-28 mt-16 text-sm">
  <div class="text-gray-900 dark:text-stone-100">copyright 2025</div>
  <div class="text-gray-500 dark:text-gray-400">
    All content on this website is licensed under
    <a
      class="hover:text-gray-400 underline dark:hover:text-gray-300"
      href="https://creativecommons.org/licenses/by-sa/4.0/"
      >CC BY-SA 4.0</a>
  </div>
  <div class="text-gray-500 dark:text-gray-400">made with 11ty</div>
</footer>
