<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/favicon.png">
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <title>
      wayson blog |
      {{ title }}
    </title>
  </head>
  <body class="bg-stone-100 flex justify-center text-black w-screen">
    <div class="flex flex-col w-8/12 max-w-3xl">
      {% include 'nav.liquid' %}
      {{ content }}
      {% include 'footer.liquid' %}
    </div>
  </body>
</html>
