---
layout: base.liquid
---
<div class="markdown">
  {{ content }}
</div>

<h1 class="text-xl font-bold mt-5">Articles</h1>
<ul>
  {%- for post in collections.posts reversed -%}
    <li class="flex flex-col">
      <a class="text-sky-600 font-semibold hover:underline" href="{{ post.url }}">{{ post.data.title }}</a>
      <span class="text-gray-500 text-sm">{{ post.date | date: '%B %d %Y' }}</span>
    </li>
  {%- endfor -%}
</ul>
