.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply mt-3;
  @apply mb-2;
  @apply font-bold;
  @apply text-xl;
}

.markdown pre {
  @apply bg-gray-200;
  @apply rounded-md;
  @apply p-4;
}

.markdown code {
  @apply bg-gray-200;
  @apply rounded-md;
  @apply p-0.5;
  @apply px-2;
  @apply font-mono;
}
.markdown pre code {
  @apply p-0;
  @apply dark:p-0;
}

.dark .markdown pre {
  @apply bg-slate-700;
  /* @apply bg-gray-200; */
  @apply rounded-md;
  @apply p-4;
}

.dark .markdown code {
  @apply bg-slate-700;
  /* @apply bg-gray-200; */
  @apply rounded-md;
  @apply p-0.5;
  @apply px-2;
  @apply font-mono;
}

.markdown a {
  @apply hover:underline;
  @apply text-sky-600;
  @apply dark:text-sky-500;
}

.markdown ul {
  @apply list-disc;
  @apply ml-6;
}
.markdown ol {
  @apply list-decimal;
  @apply ml-6;
}

.markdown table {
  @apply border-gray-600;
}
.markdown th,
.markdown td {
  @apply border;
  @apply p-2;
  @apply border-gray-600;
}

.markdown .header-anchor {
  @apply text-gray-400;
  @apply font-normal;
  @apply text-base;
  @apply hover:text-gray-300;
  @apply hover:no-underline;
  @apply dark:text-gray-400;
  @apply dark:hover:text-gray-300;
}

.markdown iframe {
  @apply border;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

.markdown table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
